atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.1
bleach==3.1.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.4
crayons==0.3.0
cryptography==2.8
docutils==0.15.2
Flask==1.1.1
html2text==2019.9.26
httplib2==0.14.0
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
matrix-client==0.3.2
mock==3.0.5
more-itertools==7.2.0
packaging==19.2
pkginfo==1.5.0.1
pluggy==0.13.0
py==1.8.0
pycodestyle==2.3.1
pycparser==2.19
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pytest==5.2.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
soupsieve==1.9.4
tqdm==4.36.1
twine==2.0.0
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
zipp==0.6.0
-e git+https://github.com/hackabit19/Apes_together_strong.git@50ad236efbcf59ef7bd1fa711b5148f061bfb263#egg=zulip&subdirectory=zulip_bot/python-zulip-api/zulip
-e git+https://github.com/hackabit19/Apes_together_strong.git@50ad236efbcf59ef7bd1fa711b5148f061bfb263#egg=zulip_bots&subdirectory=zulip_bot/python-zulip-api/zulip_bots
-e git+https://github.com/hackabit19/Apes_together_strong.git@50ad236efbcf59ef7bd1fa711b5148f061bfb263#egg=zulip_botserver&subdirectory=zulip_bot/python-zulip-api/zulip_botserver
